header, 
main,
footer {
    width: 100%;
    min-width: 320px;
}
header {
    position: relative;
    height: 100vh;
    background-image: url("./assets/xps-ocAuPlfZXEc-unsplash.jpg");
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}